.pagination {
  display: inline-block;
  font-size: 16px;
}

.pagination a {
  color: black;
  float: left;
  padding: 4px 8px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #FF6600;
  color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}
